* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Open Sans', sans-serif;
    background-color: #211e31;
    color: white;
    font-size: 18px;
}

/* Navigation */
nav {
    margin: 0;
    padding: 10px;
    background-color: #0d0833;
    color: #f1f1f1;
    width: 100%;
    position: fixed;
    top: 0px;
}

nav h5 {
    font-size: 18px;
}

/* Main Container */
.container {
    margin-top: 50px;
}

/* Header */
.header {
    display: grid;
    grid-template-areas: 
        'hero-text'
        'hero-img';
}

.hero-text {
    grid-area: hero-text;
    padding: 75px 0 0;
}

.hero-text h1 {
    text-align: center;
    font-size: 42px;
}

.hero-text span {
    color: rgb(221, 123, 12);
}

.hero-img {
    grid-area: hero-img;
    display: flex;
    justify-content: center;
}

.hero-img img {
    max-height: 300px;
}

/* Bar */
.bar {
    background-color: #f7f7f7;
}

ul {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    border-bottom: 1px solid #c5c3c3;
    height: 50px;
}

ul li a {
    text-decoration: none;
    color: #3a3a3a;
    padding: 12px 24px;
    font-size: 24px;
}

/* Content */
.content {
    padding: 20px;
    display: grid;
    background-color: #f7f7f7;
    color: #3a3a3a;
}

.card {
    text-align: center;
}

.card-img {
    max-height: 300px;
}
